body
{
	margin:0;
	padding:0;
	background-color:#00FFFF;
	font-family:serif;
	background : url(img1.jpg);
	background-size:cover;
}	
.title
{
	text-align:center;
	padding:30px ;
	{background-color:#FFADC;}
	
}
.content3 h1
{
padding:0px 0px;
text-align:center;	
}

.content3
{
	width:40%;
	height:650px;
	padding: 20px 80px;
	box-shadow:0px 0px 10px 20x #666666;
	background-color:#FAEBD7;
	box-sizing:border-box;
    margin:60px auto;
	border:4px solid #808080;
	border-radius:12px;

}
label
{
	width:100%;
	padding:40px 30px;
	font-size:20px;
	font-weight:bold;
}

.content3 input[value="REGISTER"]
{
	height:35px;
	width:80px;
	margin:30px 50px;
	border-radius:5px;
	font-weight:bold;
}	

.content3 input[name="subject"],
.content3 input[name="subcode"],
.content3 input[name="exam_date"],
.content3 input[name="reg_no"],
.content3 input[name="stname"]
{
	border-radius:10px;
	border-bottom:5px solid #a6a5a13;
	outline:none;
	height:35px;
	width:250px;
	padding:3px;
	text-align:center;
	margin:10px 20px;
	font-size:18px;
	
}


