<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home_css.css')}}"/>
		<title>Exam Registeration 
		</title>
	</head>
	<body>
		<div class="content1">
			<h1> EXAM REGISTERATION SYSTEM </h1>
		
			<form >
			<a href="user_login.html">
			<input type="button" name="btnlogin"  value="USER" >
			</a>
			<br>
			<br>
			<br>
			<a href="adlogin.html">	
			<input type="button" name="btnadlogin" value="ADMIN">
			</a>
			</form>

		</div>
	</body>
</html>
